.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 55px 50px;
    gap: 17px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 12px 8.8px 0px rgba(0, 0, 0, 0.25);


    h2.card-heading {
        @include typo($font_inter, 600, 30px, $secondary);
        padding-top: 3px;
    }
    p.card-desc {
        @include typo($font_inter, 400, 18px, $secondary);
        padding-bottom: 11px;
    }
    button {
        padding: 20px 30px;
    }
    &.blue {
        background-color: $secondary;
        h2.card-heading {
            color: white;
        }
        p.card-desc {
            color: white;
        }
    }
}
