header {
    background: #f1f1f1;
    padding-inline: 20px;
    .header-wrapper {
        max-width: $width;
        padding: 24px 0px;
        margin: 0 auto;
        display: flex;
        gap: 100px;
        align-items: center;
        @include responsive(md) {
            justify-content: space-between;
            gap: 0;
        }
        .logo {
            svg {
                width: 127px;
                height: 68px;
            }
        }
        nav {
            @include responsive(md) {
                display: none;
            }
            ul {
                display: flex;
                gap: 30px;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        @include typo($font_inter, 400, 18px, $secondary);
                    }
                }
            }
        }
        button.ham {
            all: unset;
            cursor: pointer;
            font-size: 30px;

            display: none;
            @include responsive(md) {
                display: flex;
            }
        }
    }
}
