header {
    background: #f1f1f1;
    .nav-sec-1{
        background-color: $primary;
        height: 42px;
        padding: 5px 50px;
        display: flex;
        align-items: center;
        @include typo($font_inter, 400, medium, black);
        .nav-menus{
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 25px;
            .nav-item{
                cursor: pointer;
                font-weight: 600;
            }
        }
        .drop-icn{
            display: none;
        }
        @include responsive(md) {
            padding: 5px 25px;
            .nav-menus{
                display: none;
            }
            .drop-icn{
                display: block;
                margin-left: auto;
                cursor: pointer;
            }
        }
    }
    .nav-sec-3 {
        max-width: $width;
        padding: 24px 20px;
        margin: 0 auto;
        display: flex;
        gap: 100px;
        align-items: center;
        @include responsive(md) {
            justify-content: space-between;
            gap: 0;
        }
        .logo {
            svg {
                width: 127px;
                height: 68px;
            }
        }
        nav {
            @include responsive(md) {
                display: none;
            }
            ul {
                display: flex;
                gap: 30px;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        @include typo($font_inter, 400, 18px, $secondary);
                    }
                }
            }
        }
        button.ham {
            all: unset;
            cursor: pointer;
            font-size: 30px;

            display: none;
            @include responsive(md) {
                display: flex;
            }
        }
    }
}
