.banner-container {
    padding-inline: 25px;
    height: 95vh;
    display: flex;
    @include typo($font_inter, 400, 18px, rgba(0, 33, 53, 0.5));
    .banner-content {
        padding-top: 200px;
        h1 {
            color: $secondary;
        }
        .desc {
            width: 500px;
            margin: 10px 0px;
        }
    }
    @include responsive(xs) {
        .banner-content {
            padding-top: 200px;
            h1 {
                color: $secondary;
            }
            .desc {
                width: 70%;
                font-size: medium;
                margin: 10px 0px;
            }
        }
    }
}
