.cta-sec {
    padding-top: 150px;
    padding-inline: 20px;
    &-wrapper {
        max-width: $width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        align-items: center;
        @include responsive(lg) {
            gap: 30px;
        }
        @include responsive(md) {
            grid-template-columns: 1fr;
        }
        .image-sec {
            width: 100%;
            height: 100%;
            position: relative;
            @include responsive(md) {
                height: 500px;
            }
            img {
                object-fit: contain;
            }
        }
        .content-sec {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 97px 0px;
            h2 {
                @include typo($font_inter, 600, 55px, $secondary);
                @include responsive(lg) {
                    font-size: 50px;
                }
                @include responsive(md) {
                    font-size: 30px;
                }
            }
            p {
                @include typo($font_inter, 400, 35px, rgba(0, 33, 53, 0.5));
                @include responsive(md) {
                    font-size: 25px;
                }
                @include responsive(sm) {
                    font-size: 18px;
                }
            }
        }
    }
}
