.ourservices {
    padding: 0 20px;
    background-color: $primary;
    .ourservices-wrapper {
        padding: 125px 0;
        position: relative;
        z-index: 0;
        max-width: $width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 65px;
        .heading-text {
            h1 {
                @include typo($font_inter, 600, 55px, $secondary);
            }
            span {
                @include typo($font_inter, 400, 35px, rgba(0, 0, 0, 0.5));
            }
        }
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 80px;
            max-width: 1460px;
            margin: 0 auto;
            width: 100%;
            @include responsive(lg) {
                gap: 30px;
            }
        }
    }
}
