.Testimonials {
    padding: 150px 0;
    &-wrapper {
        max-width: calc($width + 40px);
        margin: 0 auto;
        .head {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 20px;
            padding-bottom: 90px;
            h2 {
                @include typo($font_inter, 500, 55px, #263238);
                @include responsive(md) {
                    font-size: 30px;
                }
                @include responsive(sm) {
                    font-size: 20px;
                }
            }
            h3 {
                @include typo($font_inter, 500, 35px, #263238);
                @include responsive(md) {
                    font-size: 20px;
                }
                @include responsive(sm) {
                    font-size: 18px;
                }
            }
        }
        .testimonial-slider-wrapper {
            .testimonial-slide {
                padding: 0 20px;
                &.active {
                    .testimonial-slide-wrapper {
                        border: 2px solid #e9bc03;
                        box-shadow: -11px 15px 10.5px 0px rgba(0, 0, 0, 0.25),
                            5px 4px 0px 0px #e9bc03;
                    }
                }
                .testimonial-slide-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 49px;
                    padding: 45px;
                    border: 2px solid $primary;
                    background-color: white;
                    @include responsive(md) {
                        padding: 20px;
                    }
                    .desc {
                        @include typo($font_inter, 300, 20px, black);
                    }
                    svg {
                        font-size: 110px;
                        color: $primary;
                    }
                    .user {
                        display: flex;
                        gap: 28px;
                        align-items: center;
                        .user_name {
                            @include typo($font_inter, 500, 20px, #002135);
                        }
                        img {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}
