@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Breakpoints Structure
$custom-breakpoints: (
    xs: (
        minSize: 0px,
        maxSize: 575px,
        maxContWidth: 0px,
        name: "XS",
    ),
    sm: (
        minSize: 576px,
        maxSize: 767px,
        maxContWidth: 719px,
        name: "SM",
    ),
    md: (
        minSize: 768px,
        maxSize: 991px,
        maxContWidth: 720px,
        name: "MD",
    ),
    lg: (
        minSize: 992px,
        maxSize: 1249px,
        maxContWidth: 960px,
        name: "LG",
    ),
    xl: (
        minSize: 1250px,
        maxSize: 1499px,
        maxContWidth: 1250px,
        name: "XL",
    ),
    max: (
        minSize: 1500px,
        maxSize: 0px,
        maxContWidth: 1201px,
        name: "MAX",
    ),
);

$primary: #eabc05;
$secondary: #002035;
$tertiary: #f4f4f5;
$font_inter: "Inter", sans-serif;
$width: 1640px;
